html {
  font-size: 16px;
}

body {
  @apply bg-zinc-50 text-stone-900 text-center font-sans;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  @apply text-blue-700 no-underline font-semibold;
}

