html {
  font-size: 16px;
}

body {
  @apply bg-zinc-50 text-stone-900 text-center font-sans;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  @apply text-blue-700 no-underline font-semibold transition-colors;
}

.app-header {
  @apply flex items-center content-center mb-5;

  &__heading {
    @apply mb-0 mr-auto font-bold;

    font-size: 2.55rem;
  }

  &__actions {
    @apply flex items-center content-center;
  }

  &__link {
    @apply ml-8 font-bold;

    &:hover {
      @apply text-blue-500;
    }
  }

  &__button {
    @apply ml-8;

    width: 220px;
    max-width: 100%;
  }
}
