@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('@/assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('@/assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('@/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

.app-button,
button,
input[type="button"],
input[type="submit"] {
  @apply py-3 px-4 font-bold max-w-full cursor-pointer bg-gradient-to-br from-blue-400 to-blue-700 text-white rounded text-sm sm:text-base;

  transition: 0.35s ease box-shadow, 0.35s ease transform;

  &:hover {
    @apply shadow-lg;

    transform: scale(1.015)
  }
}

.app-button--accept,
input[type="submit"].app-button--accept.app-button--accept {
  @apply from-blue-400 to-blue-700 py-4 max-w-full px-6;

  min-width: 225px;
}

.app-button--cancel,
input[type="button"].app-button--cancel.app-button--cancel {
  @apply from-red-400 to-red-700 py-4 max-w-full px-6;

  min-width: 225px;
}

.app-button--neutral.app-button--neutral {
  @apply bg-transparent border-2 border-neutral-500 text-neutral-600 py-3 text-sm transition-colors;

  background-image: none;

  &:hover {
    @apply bg-neutral-700 text-white border-neutral-700;
  }
}
